.nav__link {
  min-width: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0 18px 0 0;
  text-decoration: none;
}

.nav__link:nth-child(5) {
  margin-right: 0;
}

.nav__link:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}



@media screen and (max-width: 580px) {
  .nav__link {
    font-size: 24px;
    line-height: 24px;
  }
}
