.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-child {
  margin-bottom: 0;
}


@media screen and (max-width: 1024px) {
  .place {
    display: grid;
    grid-template-columns: fit-content(440px) fit-content(456px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: fit-content(340px) fit-content(352px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: grid;
    grid-template-columns: fit-content(320px);
    gap: 0;
  }
}
